<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/base.xml" />
    <logger name="org.springframework.web" level="ERROR" />
    <!--
        <logger name="org.hibernate.type" level="TRACE" />
    -->
    <logger name="net.robyf" level="INFO" />
    <!--
    <logger name="net.robyf.ms.frontend.client" level="DEBUG" />
    -->
</configuration>
